<ul class="nav nav-tabs justify-content-center">
  <% template_categories.each do |category| %>
    <li class="nav-item <%= 'active' if active_class?(params[:cat_id], category) %>">
      <%= link_to category, fetch_template_categories_path(:cat_id => category),
                  :remote => true, form_class: 'nav-link' %>
    </li>
  <% end %>
</ul>

<% ['enquiry', 'work'].each do |type| %>
  <div class='form-group'>
    <div class="row col-md-12">
      <%= label "#{type}_templates".to_sym, type.capitalize %>
    </div>
    <% template_category_options(params[:cat_id])[type.to_sym].each do |title, content| %>
      <% unless title.include?('COMPONENT') %>
        <%= link_to title, fetch_selected_template_path(:template => title, :type => type,
                                                        :cat_id => "#{params[:cat_id]}"),
                  :remote => true, class: 'btn btn-default btn-sm btn-margin-top',
                  onclick: "PrependTo#{type.capitalize}Notes('#{title.parameterize.underscore}')" %>
      <% end %>
      <textarea class='copy-data' id="<%= title.parameterize.underscore %>" disabled><%= content %></textarea>
    <% end %>
  </div>
<% end %>