<h1>Note Generate</h1>

<%= form_for :anything, url: "my_controller/my_action" do |form| %>
  <%= form.text_field :name %>
  <%= form.submit  %>
<% end  %>

<%= form_for :note_generator, url: "notes_controller/generate" do |f| %>
  <%= f.label :call_commenced %>
  <%= f.time_field :call_commenced %>
<% end %>