<%= form_for(@reminder, :html => { url: yield(:url), class: 'col-md-9 row col-centered'}) do |f| %>
  <% if :form_title %>
    <h2><%= yield(:form_title) %></h2>
  <% end %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-row row">
    <div class="form-group col-md-2">
      <%= f.label :reference %>
      <%= f.number_field :reference, class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :vocus_ticket %>
      <%= f.number_field :vocus_ticket, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :nbn_search %>
      <%= f.text_field :nbn_search, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :select_date, 'Remind me in' %>
      <%= f.select :select_date, {"Today" => 0, "Tomorrow" => 1, "Two days" => 2, "Three days" => 3, "Five days" => 5, "Seven days" => 7}, { prompt: 'select one', selected: @reminder.select_date }, { :class => 'form-control input-sm' } %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :date, 'OR set date' %>
      <%= f.date_field :date, class: 'form-control input-sm' %>
    </div>
  </div>

  <div class="form-row row">
    <div class="form-group col-md-2">
      <%= f.label :priority %>
      <%= f.select :priority, [1, 2, 3, 4, 5], { selected: @reminder.priority }, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-md-1">
      <%= f.label :vocus %>
      <%= f.check_box :vocus, {}, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :service_type %>
      <%= f.select :service_type, ["FTTN/B", "FTTP", "HFC", "LTS", "FW", "VOIP/UNIV", "PSTN", "LEGACY SERVICE"], { prompt: 'select one', selected: @reminder.service_type }, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :fault_type %>
      <%= f.select :fault_type, ["Offline", "Dropouts", "Speed", "Outage", "Migration"], { include_blank: 'optional', selected: @reminder.fault_type }, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label :notes %>
      <%= f.text_field :notes, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :check_for, "Check for?" %>
      <%= f.select :check_for, ["online/usage", "customer contact", "nbn response", "vocus response", "work ticket update", "2DayWarning", "resolved"], { include_blank: "optional", selected: @reminder.check_for }, class: 'form-control input-sm' %>
    </div>
  </div>

  <div class="form-group text-center">
    <button type="button" class='btn btn-default' onclick='PresetOnlineUsage()'>Online/usage</button>
    <button type="button" class='btn btn-default' onclick='PresetCustomerContact()'>Customer contact</button>
    <button type="button" class='btn btn-default' onclick='PresetNbnResponse()'>nbn response</button>
    <button type="button" class='btn btn-default' onclick='PresetVocusResponse()'>Vocus response</button>
    <button type="button" class='btn btn-default' onclick='PresetWorkTicketUpdate()'>Work ticket update</button>
    <button type="button" class='btn btn-default' onclick='Preset2DayWarning()'>2 day close</button>
    <button type="button" class='btn btn-default' onclick='PresetResolved()'>Resolved</button>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>