<tr id="reminder-<%= reminder.id %>" class="priority-<%= reminder.priority %> <%= "complete" if reminder.complete %>">
  <td class="col-md-1 text-left">
    <%= link_to reminder.reference, reference_url(reminder.reference), :target => "_blank" %>
  </td>
  <td class="col-md-3 text-right">
    <%= render partial: 'reminders/service_type', locals: {reminder: reminder} %>
  </td>
  <td class="col-md-6 text-left">
    <%= combined_notes(reminder) %>
  </td>
  <td>
    <% unless reminder.complete %>
      <%= link_to '', mark_complete_reminder_path(reminder.id), :method=> :patch, class: 'glyphicon glyphicon-ok',
                                                                                  title: 'mark complete' %>
    <% else %>
      <%= link_to '', mark_incomplete_reminder_path(reminder.id), :method=> :put, class: 'glyphicon glyphicon-remove',
                                                                                  title: 'mark incomplete' %>
    <% end %>
  </td>
  <td>
    <%= link_to '', edit_reminder_path(reminder.id), class: 'glyphicon glyphicon-wrench', title: 'edit' %>
  </td>
</tr>