<tr id="reminder-<%= reminder.id %>" class="priority-<%= reminder.priority %> <%= "complete" if reminder.complete %>">
  <td class="col-md-1 text-left">
    <%= link_to reminder.reference, reference_url(reminder.reference), :target => "_blank" %>
  </td>
  <td class="col-md-3 text-right">
    <%= render partial: 'reminders/service_type', locals: {reminder: reminder} %>
  </td>
  <td class="col-md-6 text-left">
    <%= combined_notes(reminder) %>
  </td>
  <td>
    <%= link_to image_tag("#{inverse_complete_value(reminder)}.png", alt: inverse_complete_value(reminder), class: 'btn-reminder'), inverse_complete_reminder_path(reminder.id), :method=> :patch, class: "btn btn-default btn-xs" %>
  </td>
  <td>
    <%= link_to image_tag('delete.png', alt: 'Delete', class: 'btn-reminder'), reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
  </td>
  <td>
    <%= link_to image_tag('edit.png', alt: 'Edit', class: 'btn-reminder'), edit_reminder_path(reminder.id), class: 'btn btn-default btn-xs' %>
  </td>
</tr>