<h1><%= current_user.name %></h1>
<h3>Quick Copy</h3>
<% @quick_notes.group_by(&:category).each do |category, notes| %>
  <h4><%= category %></h4>
    <% notes.each do |note| %>
      <p class="copy-data" id="<%= note_id(note) %>"><%= note.content %></p>
      <a class="copy-text btn-primary btn-xs text-nowrap" data-clipboard-target="#<%= note_id(note) %>" data-clipboard-action="copy"><%= note.name %></a>
    <% end %>
<% end %>
