<% provide(:button_text, 'Add Reminder') %>
<% provide(:url, reminders_path(method: :post)) %>
<% provide(:form_title, 'New Reminder') %>
<aside class="col-md-3 d-inline-block">
  <section class="user_info">
    <%= render 'shared/copy_panel' %>
  </section>
</aside>

<section class="d-inline-block">
  <%= render 'shared/reminders_search' %>
  <h2>Current Reminders (<%= @current_reminders.count %>) <a class="btn btn-default btn-sm" href="#new-reminder">create new</a></h2>
    <div class="divider-10"></div>
    <%= render partial: 'reminders/reminder_table', locals: { reminders: @current_reminders } %>
  </div>
</section>

<div class="divider-40"></div>

<div class="container" id="new-reminder">
  <div class="divider-10"></div>
    <%= render 'reminders/form' %>
</div>
<div class="divider-40"></div>