<tr id="reminder-<%= reminder.id %>" class="priority-<%= reminder.priority %> <%= "complete" if reminder.complete %>">
  <td class="col-md-2 text-left">
    <%= link_to reminder.reference, reference_url(reminder.reference), :target => "_blank" %>
  </td>
  <td class="col-md-2 text-right">
    <%= render partial: 'service_type', locals: {reminder: reminder} %>
  </td>
  <td class="col-md-6 text-left">
    <%= reminder.notes %>
  </td>
  <td>
    <%= link_to inverse_complete_value(reminder), inverse_complete_reminder_path(reminder.id), :method=> :patch, class: "btn btn-default btn-xs" %>
  </td>
</tr>