<%= form_for(call_note, :url => { :action => 'index' }, html: { method: 'get' } ) do |f| %>
  <% if call_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(call_note.errors.count, "error") %> prohibited this call_note from being saved:</h2>

      <ul>
      <% call_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-row row'>
    <div class='form-group col-md-3'>
      <%= f.label :call, 'Call Commenced', class: 'd-block' %>
      <%= f.datetime_select :time, { :discard_day => true, :discard_month => true, :discard_year => true }, class: 'form-control datetime_select' %>
    </div>
  </div>

  <div class='form-row row'>
    <div class='form-group col-md-2'>
      <%= f.label :call_type %>
      <%= f.select :call_type, { 'Incoming live call' => 'live_call', 'Outgoing call' => 'call_for', 'Outgoing callback request' => 'callback' }, { prompt: 'select one' }, { class: 'form-control' } %>
    </div>

    <div class='form-group col-md-2'>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>
    </div>

    <div class='form-group col-md-2'>
      <%= f.label :call_answer, 'Call answer' %>
      <%= f.select :call_answer, { 'Spoke to' => 'spoke_to', 'Left VM' => 'left_vm', 'Rang Out. No VM' => 'rang_out' }, { prompt: 'select one' }, { class: 'form-control' } %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group col-md-2'>
      <%= f.label :id_check %>
      <%= f.select :id_check, { 'Confirmed ID' => 'confirmed_id', 'Confirmed as technical advocate' => 'confirmed_id_tech' , 'Confirmed as authorised representative' => 'confirmed_id_auth', 'Caller not on account' => 'not_on_account' }, { prompt: 'select one' }, { class: 'form-control' } %>
    </div>

  <div class='from-row row'>
    <div class='form-group col-md-6'>
      <%= f.label :additional_notes , 'Enquiry notes' %>
      <%= f.text_area :additional_notes, class: 'form-control generate_notes' %>
    </div>

    <div class='form-group col-md-6'>
      <%= f.label :work_notes %>
      <%= f.text_area :work_notes, class: 'form-control generate_notes' %>
    </div>
  </div>

  <div class='form-row row'>
    <div class='form-group col-md-6 '>
      <%= render partial: 'click_notes', locals: {groups: @enquiry_quick_groups, items: @enquiry_items} %>
    </div>

    <div class='form-group col-md-6 '>
      <%= render partial: 'work_templates', locals: {groups: @work_quick_groups, items: @work_items} %>
    </div>
  </div>

  <div class='form-row row'>
    <div class='form-group col-md-3'>
      <%= f.label :call_conclusion %>
      <%= f.select :call_conclusion, { 'No further query' => 'no_further_query', 'Customer will monitor for further issues' => 'customer_will_monitor', 'Customer will contact support' => 'customer_will_contact', 'Advised customer of work' => 'advised_work' }, { prompt: 'select one' }, { class: 'form-control' } %>
    </div>

    <div class='form-group col-md-3'>
      <%= f.label :conclusion_condition, 'Condition/Work discription' %>
      <%= f.text_field :conclusion_condition, class: 'form-control' %>
    </div>

    <div class='form-group col-md-2'>
      <%= f.label :conclusion_agreed_contact, 'Agreed to contact on' %>
      <%= f.select :conclusion_agreed_contact, { 'Next update' => 'next_update', 'Date' => 'date' }, { prompt: 'select one' }, { class: 'form-control' } %>
    </div>

    <div class='form-group col-md-2'>
      <%= f.label :conclusion_contact_date, 'Date' %>
      <%= f.date_field :conclusion_contact_date, class: 'form-control input-sm' %>
    </div>

    <div class='form-group col-md-2'>
      <%= f.label :conclusion_best_contact, 'Best contact' %>
      <%= f.text_field :conclusion_best_contact, class: 'form-control' %>
    </div>
  </div>

  <div class='form-row row'>
    <div class='form-group col-md-8'>
      <%= f.label :work_notes %>
      <%= f.text_area :work_notes, class: 'form-control' %>
    </div>

    <div class='form-group col-md-4 '>
      <%= render partial: 'work_templates', locals: {groups: @work_quick_groups, items: @work_items} %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Generate Notes', class: 'form-control btn-primary' %>
  </div>
<% end %>




