<%= form_for(call_note, :url => { :action => 'index' }, html: { method: 'post' } ) do |f| %>

  <%= render partial: 'call_notes/form_components/caller_details', locals: { f: f } %>

  <%= render partial: 'call_notes/form_components/templates', locals: { f: f } %>

  <%= render partial: 'call_notes/form_components/note_taking_areas', locals: { f: f } %>

  <%= render partial: 'call_notes/form_components/call_conclusion', locals: { f: f } %>

  <%= render partial: 'call_notes/form_components/correspondence', locals: { f: f, } %>
  <div class="actions">
    <%= f.submit 'Generate Notes', class: 'form-control btn-primary' %>
  </div>
<% end %>