<% if defined? template %>
  <div class='form-row row'>
    <div class='form-group col-md-12'>
      <p><strong><%= params[:template] %></strong></p>
    </div>
  </div>
  <% count = 0 %>
  <% parse_template(template).each do |question, answer_array| %>
    <%= fields_for "#{type}_template".to_sym, type.to_sym do |f| %>
      <% if count % 3 == 0 %>
        <div class='form-row row'>
      <% end %>
      <% if answer_array[0] == 'formatting' %>
        <% count = 0 %>
        </div>
        <div class='form-group col-md-12'>
          <p><strong><%= question.to_sym %></strong></p>
        </div>
      <% else %>
        <div class='form-group col-md-4'>
          <p><%= question.to_sym %></p>
      <% end %>
        <% case answer_array[0] %>
        <% when 'select' %>
          <%= select "#{type}_template".to_sym, question.parameterize.underscore, array_to_select_options(answer_array[1]), { prompt: 'select one' }, { :class => 'form-control question', "data-question" => "#{question}"   } %>
        <% when 'textarea' %>
          <%= text_area "#{type}_template".to_sym, question.parameterize.underscore, class: 'form-control question', :data => {:question => "#{question}" }, onfocus: "this.oldvalue = this.value;" %>
        <% when 'ping' %>
          <%= text_area "#{type}_template".to_sym, question.parameterize.underscore, value: ping_test, class: 'form-control question', :data => {:question => "#{question}" }, onfocus: "this.oldvalue = this.value;" %>
        <% when 'text' %>
          <%= text_field "#{type}_template".to_sym, question.parameterize.underscore, { :class => 'form-control question', "data-question" => "#{question}" } %>
        <% when 'speedtests' %>
          <%= text_area "#{type}_template".to_sym, question.parameterize.underscore, value: speed_tests, class: 'form-control question', :data => {:question => "#{question}" }, onfocus: "this.oldvalue = this.value;" %>
        <% end %>
        <% if count % 3 == 0 %>
          </div>
        <% end %>
      </div>
      <% end %>
      <% count += 1 %>
    <% end %>
  </div>
<% end %>