<% provide(:title, 'Notes') %>
<%= link_to 'New Call Note', new_call_note_path, class: 'btn btn-default btn-lg center-block' %>
<div class='divider-10'></div>

<p><b>Enquiry</b></p>
<textarea class='generate_notes form-control'>
# <%= params[:call_note]['time(4i)'] %>:<%= params[:call_note]['time(5i)'] %>
<%= @enquiry_notes %>
</textarea>

<p><b>Work</b></p>
<textarea class='generate_notes form-control'>
<%= @work_notes %>
</textarea>

<p><b>Correspondence</b></p>
<textarea class='generate_notes form-control'>
<%= @correspondence_notes %>
</textarea>

<div class='divider-40'></div>
<% provide(:url, reminders_path(method: :post)) %>
<% provide(:button_text, 'Create Reminder') %>
<h2 class='center'>Create Reminder (all changes to notes above with be lost)</h2>
<%= render partial: 'reminders/form' %>