<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <div class="text-right">
        <% if session[:rt_copy] %>
          <p class="copy-data" id="reminder_copy"><%= session.delete(:rt_copy) %></p>
          <a class="copy-text btn btn-primary" data-clipboard-target="#reminder_copy" data-clipboard-action="copy">Copy RT reminder</a>
        <% end %>

        <% if session[:rt_date] %>
          <p class="copy-data" id="date_copy"><%= session.delete(:rt_date) %></p>
          <a class="copy-text btn btn-primary" data-clipboard-target="#date_copy" data-clipboard-action="copy">Copy date</a>
        <% end %>
      </div>
      <div class="divider-10"></div>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
